#sidebar {
	background-color: #242424;
}

/* Header */
#sidebar #header #title {
	font-size: 11pt;
	color: #a9a9a9;
}

/* Buttons */
#sidebar-button {
	margin: 8px;
	padding: 12px;
	border: none;
	border-radius: 12px;
}
#sidebar-button:hover {
	background-color: #323232;
}
#sidebar-button #label {
	min-width: 150px;
	margin-top: 2px;
	color: #a9a9a9; /*e5e5e5*/
}
