#menu {
	background-color: #121212;
	border-radius: 12px;
}

#menu #menu-item QLabel {
	color: #686868;
}

#menu #menu-title,
#menu #menu-item QLabel {
	min-width: 128px;
	padding: 12px;
	border-radius: 12px;
}

#menu #menu-title {
	padding-top: 16px;
	padding-bottom: 8px;
	font-size: 10px;
	font-weight: bolder;
	color: #323232;
}

#menu #menu-item QLabel:hover {
	background-color: #1a1a1a;
}